/* .container-fluid{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 500px;
    background-color:brown
    


}
form{
    padding:20px;
    border: 2px solid gray;
    background-color: azure;
} */